[submodule "frontend"]
	path = frontend
	url = git@github.com:DenisGremaud/chatbot-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:DenisGremaud/chatbot-backend.git
[submodule "init"]
	path = init
	url = git@github.com:DenisGremaud/chatbot-init.git
[submodule "graph-services"]
	path = graph-services
	url = git@github.com:DenisGremaud/chatbot-graph-services.git
